requests
pyTelegramBotAPI
ffmpeg
pypasser
websocket-client
tls-client
pypasser
names
colorama
curl_cffi
selenium
fake-useragent
twocaptcha
https://github.com/AI-Yash/st-chat/archive/refs/pull/24/head.zip
pydantic
pymailtm
Levenshtein
retrying
mailgw_temporary_email
pycryptodome
gradio_client
aiohttp
openai-whisper
pytesseract
tox
opencv-python
numpy