requests
aiogram>=3.0.0
aiohttp
pytesseract
tox
duckduckgo_search
python-dotenv
youtube_transcript_api
selenium
readability-lxml
bs4
pypdf
python-docx
openpyxl
python-pptx
pyyaml
gradio
gradio_client
speechrecognition
wolframalpha
wikipedia
pydub
pycryptodome
GitPython
flask
openai==0.28
gtts
pytube
whois
asgiref
uvicorn
flask_cors
g4f
