requests
aiogram
aiohttp
openai-whisper
pytesseract
tox
opencv-python
duckduckgo_search
imaginepy
python-dotenv
youtube_transcript_api
selenium
readability-lxml
bs4
pypdf
python-docx
openpyxl
python-pptx